<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
</head>
<body>
<!doctype html>
 <form action="/"  method='POST'>
            <input name="offset" type="number" value=offset>
    <input type="submit" value= "filter" style="margin-top:20px;"/>
    </form>
    <table>
        <tbody>
            <tr>
                <td>{{ table_html['name'][offset]|safe}}</td>
                <td>{{ table_html['age'][offset]|safe}}</td>
            </tr>
        </tbody>
    </table>


</body>
</html>
