<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_session</title>
</head>
<body>
    <form action="http://localhost:5000/user_recommend" method="POST">
     <p>id <input type = "text" name = "user_id" /></p>
     <p>city <input type = "text" name = "city" /></p>
     <p>longitude <input type = "text" name = "longitude" /></p>
     <p>latitude <input type ="text" name = "latitude" /></p>
     <p><input type = "submit" value = "continue" /></p>
</form>
</body>
</html>